{% block form_row %}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
{% endblock %}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
             <div class="alert alert-error">
                error.message
             </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block search_widget %}
{% spaceless %}
    <div class="input-prepend">
        <span class="add-on"><i class="icon-user"> </i></span>
        <input class="span12" id="prependedInput" type="text" placeholder="{{ name|capitalize }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}/>
    </div>
{% endspaceless %}
{% endblock search_widget %}
